<div class="container">
    <div class="row py-5  gap-3 justify-content-center">
        <h2>Recommended movies</h2>
        <div  (click)="pass_id(movie.id)" *ngFor='let movie of movies' class="col-md-2 card "
        style="width: 15rem;">
            <div (click)="reload_page(movie.id)">
        <img class="  img-fluid" [src]="imgPrefix+movie.poster_path">

            <div class="circle-progress">
                <h5 class="percentage fw-bolder">{{ movie.vote_average.toFixed(1) }}<sup>%</sup></h5>
            </div>

            <h4 style="font-size: 1.2vw;">{{movie.title}}</h4>
            <h6 class="text-secondary " style="font-size: 1vw;">{{movie.release_date|date}}</h6>
            <!-- <div class="heart d-flex justify-content-end">
                <i class="fa-regular fa-heart text-end"></i>
            </div> -->
            </div>

            <div>
                @if(!movie.fav){<img class="hearts" (click)="send_to_access(movie)" (click)="switch(movie.id)"
                    src="../../assets/white.jpg">}
                @else{<img class="hearts" (click)="send_to_access(movie)" (click)="switch(movie.id)" src="../../assets/y1.png">}
            </div>

        </div>
    </div>
<!-- </div> -->