@if(favs.length==0){
    <div class="cent">
    <div class="empty">
        <img class="film" src="../../assets/film.jpg">
        <h2>empty wish list</h2>
        <button routerLink="../" type="button" class="btn btn-warning">explore popular movies</button>    
    </div>
    </div>
}
@else{
<div class="container">
    <div class="row py-5  gap-3 justify-content-center">
        @for(fav of favs ; track $index)
        {
        <div class="col-md-2 card " style="width: 15rem;">
            <div routerLink="../info" (click)="pass_id(fav.id)">
            <img class="  img-fluid" [src]="imgPrefix+fav.poster_path">

            <div class="circle-progress">
                <h5 class="percentage fw-bolder">{{ fav.vote_average.toFixed(1)*10 }}<sup>%</sup></h5>
            </div>

            <h4 style="font-size: 1.2vw;">{{fav.title}}</h4>
            
            </div>
            <div class="mf">
                <h6 class="text-secondary " style="font-size: 1vw;">{{fav.release_date|date}}</h6>
                @if(fav.fav){<img class="hearts" (click)="send_to_access(fav)" (click)="switch(fav.id)"
                    src="../../assets/heart (1).png">}
            </div>
        </div>
        }
    </div>
</div>
}

