h5 {
    margin-top: 5%;
    font-size: 1vw;
    color: rgb(45, 128, 0);
}

i {
    font-size: 1.5vw;
    margin-bottom: 10%;
}
.hearts {
    width: 40px;
}
h2{
    color: grey;
}
button{
    background-color: #FEE253 ;
}
/* .empty{
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */
.cent{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 80vh;
}
.film{
    width: 30rem;
}