<div class="container">
    <div class="row py-5  gap-3 justify-content-center">
        @for(fav of favs ; track $index)
        {
        <div routerLink="info"   class="col-md-2 card "
            style="width: 15rem;">
            <img class="  img-fluid" [src]="imgPrefix+fav.poster_path">

            <!-- movies.component.html -->
            <div class="circle-progress">
                <h5 class="percentage fw-bolder">{{ fav.vote_average.toFixed(1) }}<sup>%</sup></h5>
            </div>

            <h4 style="font-size: 1.2vw;">{{fav.title}}</h4>
            <h6 class="text-secondary " style="font-size: 1vw;">{{fav.release_date}}</h6>
            <div class="heart d-flex justify-content-end">
                <i class="fa-regular fa-heart text-end"></i>
            </div>
        </div>
        }
    </div>
</div>

