<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img [src]="imgPrefix+movie.poster_path" class="img-fluid" alt="Product Image">
        </div>
        <div class="col-md-6">
            <div class="hearts-flex"> 
            <h2 class="mb-4">{{movie.title}}</h2>
            <div>
            @if(!movie.fav){<img class="hearts" (click)="send_to_access(movie)" (click)="switch()" src="../../assets/heart.png">}
            @else{<img class="hearts" (click)="send_to_access(movie)" (click)="switch()" src="../../assets/heart (1).png">}
            </div>
            </div>
            <p class="text-muted">{{movie.release_date|date}}</p>
            @for(star of star_arr ; track $index)
            {
            @if(star) {<img class="star" src="../../assets/blackstt.png">}
            @else {<img class="star" src="../../assets/blackst.png">}
            }
            <span>({{movie.vote_count}})</span>
            <p>{{movie.overview}}</p>
            @for(genre of movie.genres ; track $index){<button type="button" id="yellow" class="btn btn-warning">{{genre.name}}</button>}
      <div class="runtime"> <p class="font-weight-bold margin">Duration: </p> {{ movie.runtime}} minutes</div>
      <div class="runtime"> <p class="font-weight-bold margin">Languages: </p> @for(lang of movie.spoken_languages;track $index){<p class="lang">{{lang.name}}</p>}</div>
     <div> @for(comp of movie.production_companies ; track $index) {<img class="logo" [src]="imgPrefix+comp.logo_path">} </div>
        </div>
    </div>

    
    <hr>
</div>
